// Base
@import "base/_base";
// Variables
@import 'helpers/_variables';
// Components
@import "components/pagination";
@import "components/article";
@import "components/header";
@import "components/search";
// Layouts
@import 'layout/_feed_body';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
