.news-feed{

  article{

      img{
        border-radius:10px;
      }
    a{
      color:$black;
      h2{
        font-size: 1.5em;
        padding:0.5em 0;
      }
      &:hover{
        text-decoration: none;
        color: $hoverBlack;
      }
    }
    padding:2em;

    .description {
      display: none;
    }
  }

}