header {
  height: 200px;
  background-color: $light-blue;
  position: relative;

  h2 {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
  }
}